@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layoutsecurity.cshtml";
}

<div class="col-md-12">
    <br style="line-height:35px;" />
    <h2>Mục đích của đề tài</h2>
    <ol>
        <li>Xây dựng một sản phẩm hỗ trợ thay thế việc mượn, trả sách thủ công trước đây ở thư viện trường học</li>
        <li>Hạn chế nguy cơ lây lan dịch bệnh trong quá trình mượn/trả sách.</li>
        <li>Giảm khối lượng công việc của cô thủ thư giúp cô có thời gian làm công việc khác</li>
        <li>Học sinh có thể đăng ký mượn trả sách trực tuyến, chọn phương thức nhận sách ở thư viện hoặc giao trực tiếp qua dịch vụ shipper</li>
    </ol>
</div>