@{ ViewBag.Title = "Quy định mượn trả sách";
   Layout = "~/Views/Shared/_Layout2.cshtml"; 
}

<h2>CHÍNH SÁCH MƯỢN TRẢ CỦA THƯ VIỆN</h2>
<p>1.Chỉ học sinh trường mới được cấp quyền mượn trả sách.</p>
<br />
<p>2.Chỉ được mượn tối đa 2 đến 3 cuốn sách.</p>
<br /><p>3.Chỉ được mượn tối đa 2 tuần.</p>
<br /><p>4.Nếu nộp quá hạn phải nộp tiền phạt.</p>
<br /><p>5.Phải giữ gìn sách cẩn thận ( nếu sách bị rách hoặc trầy xước phải nộp phạt ).</p>
<br /><p>6.Được lựa chọn 2 hình thức nhận sách: nhận sách trực tiếp tại thư viện; nhận sách qua hình thức shipper.</p>
<br />