
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Test</h2>
@section css{
    <style>
        /*Chèn css vào đây*/
    </style>
}


@section scripts{
    <script>

        //Code for javascript


    </script>
}